/* Display [] by the item with the accesskey */
a[accesskey]:after,
button[accesskey]:after,
input[accesskey]:after,
label[accesskey]:after,
legend[accesskey]:after,
textarea[accesskey]:after {
    margin-left: 0.3em;
    color: Plum;
    content: "[" attr(accesskey) "]";
}
